@model Scaffoldong.Models.BorrowEquipment1

@{
    ViewData["Title"] = "Create";
    var welcomeMessage = TempData["WelcomeMessage"] as string;
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h1>申請借用設備</h1>
<hr />
<div class="row">
    <div class="col-md-4 col-12" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control"  />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Borrow_Time" class="control-label"></label>
                <input asp-for="Borrow_Time" class="form-control" type="datetime-local" required />
                <span asp-validation-for="Borrow_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return_Time" class="control-label"></label>
                <input asp-for="Return_Time" class="form-control" type="datetime-local" required />
                <span asp-validation-for="Return_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" type="tel" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <label asp-for="Illustrate" class="control-label"></label>
                <input asp-for="Illustrate" class="form-control" />
                <span asp-validation-for="Illustrate" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <!-- Hidden input field for status -->
                <input asp-for="Status" value="Applying" type="hidden" />
                <!-- Validation message for status field -->
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 500px;">
                <input type="submit" value="提出申請" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!--<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
