@model Scaffoldong.Models.BorrowEquipment1

@{
    ViewData["Title"] = "刪除";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h1>退件原因</h1>

<h3></h3>
<div>
    <hr />
    <dl class="row">


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
