@model IEnumerable<EquipmentBorrowingSystem.Models.Application_Completed>

@{
    ViewData["Title"] = "設備接收人(歸還)_填寫姓名";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<b>
    <label style="margin-top: 20px; font-size : 35px;">
        請填寫設備接收人姓名(設備歸還)
    </label>
</b>
@foreach(var item in Model)
{
    <form action="@Url.Action("EquipmentReturn", "EquipmentReturn")" method="post">
        <input type="hidden" name="fOrderGuid" value="@Html.DisplayFor(modelItem => item.fOrderGuid)" />
        <table class="table">

            <tr>
                <td>
                    <label for="name">設備接收人姓名(設備歸還)：</label>
                    <input type="text" id="Equipment_Recive_Person" name="Equipment_Recive_Person" required="required" style="margin: 10px;">
                </td>
            </tr>
        </table>
        <button type="submit" name="addButton" value="add" style="margin-left: 10px;">接受</button>
        <button onclick="event.preventDefault(); window.location.href='@Url.Action("ApplicationCompleted", "ApplicationCompleted")'" style="width: 125px; height: 30px; font-size: 16px; ">返回申請列表</button>
 

    </form>

    
    @* <button onclick="location.href='@Url.Action("ApplicationCompleted", "ApplicationCompleted")'" style="width: 125px; height: 30px; font-size: 16px; ">返回申請列表</button> *@
}
