@model Scaffoldong.Models.Equipment

@{
    ViewData["Title"] = "Create";
    var welcomeMessage = TempData["WelcomeMessage"] as string;
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h1>新增設備</h1>
<hr />
<div class="row">
    <div class="col-md-4 col-12">
        <form action="@Url.Action("Create", "Manage_All_Equipment")" method="post" enctype="multipart/form-data">
            <div class="form-horizontal">

                <div class="form-group">
                    <b> <span class="control-label col-md-2" style="padding-top: 10px;">設備名稱：</span></b>
                    <input type="text" id="EName" name="EName" required="required" autocomplete="off" />
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">設備型號：</span></b>
                    <input type="text" id="Emodel" name="Emodel" required="required" autocomplete="off" />
                </div>

                <div id="consumableFieldsYes" style="display:none;">
                    <div class="form-group" style="padding-top: 10px;" id="inputContainerYes">
                        <b><span class="control-label col-md-2">設備總數量：</span></b>
                        <input type="number" id="EQuantityYes" name="EQuantityYes"  autocomplete="off" />
                    </div>
                    <div id="dynamicInputsContainerYes"></div>
                </div>

                <div id="consumableFieldsNo" style="display:none;">
                    <div class="form-group" style="padding-top: 10px;" id="inputContainerNo">
                        <b><span class="control-label col-md-2">設備總數量：</span></b>
                        <input type="number" id="EQuantityNo" name="EQuantityNo"  autocomplete="off" />
                    </div>
                </div>

                <script>
                    window.onload = function () {
                        var quantityInputYes = document.getElementById('EQuantityYes');
                        var dynamicInputsContainerYes = document.getElementById('dynamicInputsContainerYes');

                        quantityInputYes.addEventListener('change', function () {
                            var quantity = parseInt(quantityInputYes.value);

                            // 清空動態生成的欄位
                            dynamicInputsContainerYes.innerHTML = '';

                            var titleLabel = document.createElement('label');
                            titleLabel.textContent = '請輸入設備編號:';
                            dynamicInputsContainerYes.appendChild(titleLabel); // 添加標題
                            dynamicInputsContainerYes.appendChild(document.createElement('br')); // 插入換行

                            for (var i = 0; i < quantity; i++) {
                                var input = document.createElement('input');
                                input.type = 'text';
                                input.name = 'EId[]'; // 使用陣列使每個輸入框的值都能夠被正確地提交
                                input.placeholder = '設備編號 ' + (i + 1);
                                dynamicInputsContainerYes.appendChild(input);
                                dynamicInputsContainerYes.appendChild(document.createElement('br')); // 插入換行
                            }
                        });

                        var consumableRadios = document.getElementsByName('Is_Consumable');
                        var consumableFieldsYes = document.getElementById('consumableFieldsYes');
                        var consumableFieldsNo = document.getElementById('consumableFieldsNo');

                        for (var i = 0; i < consumableRadios.length; i++) {
                            consumableRadios[i].addEventListener('change', function () {
                                if (this.value === 'True') {
                                    consumableFieldsYes.style.display = 'none';
                                    consumableFieldsNo.style.display = 'block';
                                } else {
                                    consumableFieldsYes.style.display = 'block';
                                    consumableFieldsNo.style.display = 'none';
                                }
                            });
                        }
                    };
                </script>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">數量單位：</span></b>
                    <input type="text" id="EQuantity_Unit" name="EQuantity_Unit" required="required" autocomplete="off" />
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">設備來源：</span></b>
                    <label><input type="radio" name="ESource" value="自購" required="required" autocomplete="off" /> 自購</label>
                    <label><input type="radio" name="ESource" value="教育局" required="required" autocomplete="off" /> 教育局</label>
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">設備存放位置：</span></b>
                    <input type="text" id="ECurrent_Location" name="ECurrent_Location" required="required" autocomplete="off" />
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">是否為消耗品：</span></b>
                    <label><input type="radio" name="Is_Consumable" value="True" required="required" autocomplete="off" /> 是</label>
                    <label><input type="radio" name="Is_Consumable" value="False" required="required" autocomplete="off" /> 否</label>
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <b><span class="control-label col-md-2">上傳圖片：</span></b>
                    <input type="file" id="FileInput" name="FileInput" accept="image/*" />
                </div>

                <div class="form-group" style="padding-top: 10px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="新增此設備" />
                        <button type="button" onclick="window.history.back();">返回</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
